<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudaction.dao.UserDao">
    <select id="selectById" parameterType="String"  resultType="CloudUser">
        select * from cloud_user where id = #{id}
    </select>
    <select id="selectByNamePwd" parameterType="map" resultType="CloudUser">
    	 select u.* from cloud_user u where u.username = #{name} and u.password=#{pwd}
    </select>
    <select id="selectByName" parameterType="map" resultType="CloudUser">
    	 select u.* from cloud_user u where u.username = #{name} 
    </select>
    <select id="selectByMailPwd" parameterType="map" resultType="CloudUser">
    	 select u.* from cloud_user u where u.email = #{mail} and u.password=#{pwd}
    </select>
</mapper>